body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  width: Fixed (1, 106px) px;
  height: Fixed (1, 547px) px;
  top: -982px;
  left: 1027px;
  padding: 67px 130px 67px 130px;
  gap: 75px;
  opacity: 0px;
}
